<div class="ag-grid-container">
  <div class="buttons">
    <button class="add-button" type="button" aria-label="Add" (click)="addCommodityToStoreroom()">
      <i class="fa fa-plus"></i>
    </button>
    <span>{{appEnum.COMMODITY_TO_STORE}}</span>
  </div>
  <ag-grid-angular *ngIf="isBrowser" [columnDefs]="columnDefs" [rowData]="rowData" [gridOptions]="gridOptions"
    [defaultColDef]="defaultColDef" [pagination]="true" domLayout="autoHeight" class="ag-theme-alpine">
  </ag-grid-angular>
</div>