<div class="content">
    <div class="form">
        <div class="text">{{appEnum.CREATE_AND_EDIT_STOREROOM_DOCUMENT_FORM}}</div>
        <form [formGroup]="myForm" class="form-container">

            <div class="item-style">
                <label for="documentCode">{{appEnum.STOREROOM_DOCUMENT_CODE}}</label>
                <input id="documentCode" formControlName="documentCode"
                    placeholder="{{appEnum.STOREROOM_DOCUMENT_CODE}}" />
            </div>
            <div class="item-style">
                <label for="documentDate">{{ appEnum.STOREROOM_DOCUMENT_DATE }}</label>
                <input id="documentDate" type="text" formControlName="documentDate"
                    placeholder="{{ appEnum.STOREROOM_DOCUMENT_DATE }}" readonly (click)="openDatePicker()" />


                <app-persian-datepicker *ngIf="showDatePicker" (dateSelected)="onDateSelected($event)">
                </app-persian-datepicker>
            </div>
            <div class="item-style">
                <label for="documentTitle">{{appEnum.STOREROOM_DOCUMENT_TITLE}}</label>
                <input id="documentTitle" formControlName="documentTitle"
                    placeholder="{{appEnum.STOREROOM_DOCUMENT_TITLE}}" />
            </div>


            <div class="item-style">
                <label for="documentType">{{appEnum.STOREROOM_DOCUMENT_TYPE}}</label>
                <select id="documentType" formControlName="documentType">
                    <option *ngFor="let documentType of documentTypeList" [ngValue]="documentType.value">{{
                        documentType.value }}</option>
                </select>
            </div>

            <!-- <div class="item-style">
                <label for="documentGroup">{{appEnum.STOREROOM_DOCUMENT_TYPE}}</label>
                <select id="documentGroup" formControlName="documentGroup">
                    <option *ngFor="let documentGroup of documentGroupList" [ngValue]="documentGroup.value">{{ documentGroup.value }}</option>
                </select>
            </div> -->

            <div class="item-style">
                <label for="storeroomId">{{appEnum.STOREROOM}}</label>
                <select id="storeroomId" formControlName="storeroomId">
                    <option *ngFor="let storeroom of storeroomList " [ngValue]="storeroom.id">
                        {{storeroom.storeroomTitle}}</option>
                </select>
            </div>

            <div class="item-style">
                <label for="reciever">{{appEnum.RECIEVER}}</label>
                <input id="reciever" formControlName="reciever" placeholder="{{appEnum.RECIEVER}}" />
            </div>
            <div class="item-style">
                <label for="deliverer">{{appEnum.DELIVERER}}</label>
                <input id="deliverer" formControlName="deliverer" placeholder="{{appEnum.DELIVERER}}" />
            </div>
        </form>
        <div class="buttonForm">
            <button type="submit" [disabled]="myForm.invalid"
                [ngClass]="{'active-button': !myForm.invalid, 'inactive-button': myForm.invalid}"
                (click)="onSubmit()">{{appEnum.SAVE}}</button>
            <button type="submit" class="close" (click)="closePage()">{{appEnum.CLOSE}}</button>
        </div>
    </div>

    <div class="anbarToCommodity" *ngIf="mode === 'edit'">
        <div class="ag-grid-container">
            <div class="buttons">
                <button class="add-button" type="button" aria-label="Add" (click)="addCommodityBank()">
                    <i class="fa fa-plus"></i>
                </button>
                <span>{{appEnum.COMMODITY_TO_STORE}}</span>
            </div>
            <ag-grid-angular *ngIf="isBrowser" [columnDefs]="columnDefs" [rowData]="rowData" [gridOptions]="gridOptions"
                [defaultColDef]="defaultColDef" [pagination]="true" domLayout="autoHeight" class="ag-theme-alpine">
            </ag-grid-angular>
        </div>
    </div>

</div>