.content {
    width: 100%;
    height: 96%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding-top: 20px;
    overflow: auto;
}

.form {
    width: 90%;
    height: 65%;
    background-color: #b4beff;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.text {
    padding: 10px;
    direction: rtl;
    height: 20px;
}

.anbarToCommodity {
    width: 98%;
    height: calc(100% - 35px);
    background-color: #e0e0e0;
    border: 2px #e0e0e0 solid;
    border-radius: 10px;
}

.button {
    padding-bottom: 10px;
    padding-left: 15px;
}

.form-container {
    display: flex;
    direction: rtl;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0 10px;
}

form div {
    height: 50px;
    width: calc(33.33% - 10px);
    display: flex;
    flex-direction: column;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

@media (max-width: 768px) {
    input {
        width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    input {
        width: 100%;
    }
}

.dropdown-container {
    width: 250px;
    margin: 20px auto;
    font-family: 'Arial', sans-serif;
}

label {
    display: block;
    font-size: 16px;
    color: #333;
}

select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

select:focus {
    border-color: #4caf50;
    background-color: #eaf7e3;
    outline: none;
}

option {
    padding: 10px;
    background-color: white;
    color: #333;
}

option:hover {
    background-color: #4caf50;
    color: white;
}

select:hover {
    border-color: #4caf50;
    background-color: #f1f1f1;
}

.textarea-container {
    width: 100% !important;
    height: 100px !important;
    margin: 20px auto;
    font-family: 'Arial', sans-serif;
}

textarea+label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

textarea {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    resize: vertical;
    transition: all 0.3s ease;
    min-height: 50px;
}

textarea:focus {
    border-color: #4caf50;
    background-color: #eaf7e3;
    outline: none;
}

textarea:hover {
    border-color: #4caf50;
    background-color: #f1f1f1;
}

.saveButton {
    padding: 5px 10px;
    margin: 2px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
}

.active-button {
    padding: 5px 10px;
    margin: 2px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
}

.close {
    padding: 5px 10px;
    margin: 2px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    background-color: #f1f1f1;
    color: black;
}

.inactive-button {
    padding: 5px 10px;
    margin: 2px;
    border: none;
    font-size: 14px;
    border-radius: 4px;
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}