<div class="auth-container">
  <div class="tabs">
    <button [class.active]="activeTab === 'login'" (click)="switchTab('login')">{{appEnum.LOGIN}}</button>
    <button [class.active]="activeTab === 'register'" (click)="switchTab('register')">{{appEnum.REGISTER}}</button>
  </div>

  <div class="form-container" *ngIf="activeTab === 'login'">
    <h2>ورود</h2>
    <form (ngSubmit)="login()">
      <input type="email" [(ngModel)]="email" name="email" placeholder="{{appEnum.EMAIL}}" required />
      <input type="password" [(ngModel)]="password" name="password" placeholder="{{appEnum.PASSWORD}}" required />
      <button type="submit">{{appEnum.LOGIN}}</button>
    </form>
  </div>

  <div class="form-container" *ngIf="activeTab === 'register'">
    <h2>ثبت‌نام</h2>
    <form (ngSubmit)="register()">
      <input type="text" [(ngModel)]="username" name="username" placeholder="{{appEnum.USER_NAME}}" required />
      <input type="email" [(ngModel)]="email" name="email" placeholder="{{appEnum.EMAIL}}" required />
      <input type="password" [(ngModel)]="password" name="password" placeholder="{{appEnum.PASSWORD}}" required />
      <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword"
        placeholder="{{appEnum.REPEAT_PASSWORD}}" required />
      <button type="submit">{{appEnum.REGISTER}}</button>
    </form>
  </div>
</div>