<div class="content">
    <div class="text">{{appEnum.COMMODITY_TO_STORE}}</div>
    <form [formGroup]="myForm" class="form-container">

        <div>
            <label for="storeroomTitle">{{appEnum.STOREROOM_TITLE}}</label>
            <select id="storeroomTitle" formControlName="storeroomTitle">
                <option *ngFor="let storeroomTitle of storeroomList " [ngValue]="storeroomTitle.id">
                    {{storeroomTitle.storeroomTitle}}</option>
            </select>
        </div>

        <div>
            <label for="storeroomId">{{appEnum.STOREROOM_ID}}</label>
            <input id="storeroomId" formControlName="storeroomCode" placeholder="{{appEnum.STOREROOM_ID}}" />
        </div>

        <div>
            <label for="storeroomManager">{{appEnum.STOREROOM_MANAGER}}</label>
            <input id="storeroomManager" formControlName="storeroomChairman"
                placeholder="{{appEnum.STOREROOM_MANAGER}}" />
        </div>

        <div>
            <label for="storeroomType">{{appEnum.STOREROOM_TYPE}}</label>
            <input id="storeroomType" formControlName="storeroomPersianTitle" placeholder="{{appEnum.STOREROOM_TYPE}}" />
        </div>

    </form>
    <div class="button">
        <button type="submit" [disabled]="myForm.invalid"
            [ngClass]="{'active-button': !myForm.invalid, 'inactive-button': myForm.invalid}" class="active-button"
            (click)="onConfirm()">{{appEnum.SAVE_COMMODITY}}</button>
        <button type="submit" class="close" (click)="onCancel()">{{appEnum.CLOSE}}</button>
    </div>
</div>