<div class="content">
    <div class="text">{{appEnum.COMMODITY_MEASUREMENT_UNIT_FORM}}</div>
    <form [formGroup]="myForm" class="form-container">
        <div>
            <label for="commodityMeasurementUnitCode">{{ appEnum.MEASUREMENT_UNIT_CODE }}</label>
            <input id="commodityMeasurementUnitCode" formControlName="measurementUnitCode" 
            placeholder="{{ appEnum.MEASUREMENT_UNIT_CODE }}"
            />
        </div>
        <div>
            <label for="commodityMeasurementUnitTitle"> {{appEnum.COMMODITY_MEASUREMENT_UNIT_TITLE}}</label>
            <input id="commodityMeasurementUnitTitle" formControlName="measurementUnitTitle"
            placeholder="{{appEnum.COMMODITY_MEASUREMENT_UNIT_TITLE}}" />
        </div>
        <div>
            <label for="createDate">{{ appEnum.CREATE_DATE }}</label>
            <input
              id="createDate"
              type="text"
              formControlName="createDate"
              placeholder="{{ appEnum.CREATE_DATE }}"
              readonly
              (click)="openDatePicker()"
            />
          
            <!-- تقویم شمسی -->
            <app-persian-datepicker
              *ngIf="showDatePicker"
              (dateSelected)="onDateSelected($event)">
            </app-persian-datepicker>
          </div>
    </form>
    <div class="button">
        <button 
          type="submit"
          [disabled]="myForm.invalid"
          [ngClass]="{'active-button': !myForm.invalid, 'inactive-button': myForm.invalid}" 
          class="active-button" 
          (click)="onConfirm()">
          {{ appEnum.SAVE_COMMODITY }}
        </button>
  
        <button 
          type="button" 
          class="close" 
          (click)="onCancel()">
          {{ appEnum.CLOSE }}
        </button>
      </div>
</div>