<div class="content">
    <div class="form">
        <div  class="text">{{appEnum.CREATE_AND_EDIT_COMMODITY}}</div>
        <form [formGroup]="myForm" class="form-container" (ngSubmit)="onSubmit()">

            <div>
                <label for="productCode">{{appEnum.PRODUCT_COD}}</label>
                <input id="productCode" formControlName="productCode" placeholder="{{appEnum.PRODUCT_COD}}" />
            </div>

            <div>
                <label for="productPersianTitle">{{appEnum.PRODUCT_PERSIAN_TITLE}}</label>
                <input id="productPersianTitle" formControlName="productPersianTitle"
                    placeholder="{{appEnum.PRODUCT_PERSIAN_TITLE}}" />
            </div>

            <div>
                <label for="productEnglishTitle">{{appEnum.PRODUCT_ENGLISH_TITLE}}</label>
                <input id="productEnglishTitle" formControlName="productEnglishTitle"
                    placeholder="{{appEnum.PRODUCT_ENGLISH_TITLE}}" />
            </div>


            <div>
                <label for="category">{{appEnum.NATURE_OF_THE_GOODS}}</label>
                <select id="category" formControlName="category">
                    <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
                </select>
            </div>

            <div>
                <label for="unitMeasurement">{{appEnum.UNIT_OF_MEASUREMENT}}</label>
                <select id="unitMeasurement" formControlName="unitMeasurement">
                    <option *ngFor="let unit of units " value="unit.id">{{unit.name}}</option>
                </select>
            </div>

            <div>
                <label for="status">{{appEnum.STATUS}}</label>
                <select id="status" formControlName="status">
                    <option *ngFor="let status of statuses " value="status">{{status}}</option>
                </select>
            </div>

            <div class="textarea-container">
                <label for="description">توضیحات:</label>
                <textarea id="description" formControlName="description" rows="5"
                    placeholder="لطفاً توضیحات خود را وارد کنید..."></textarea>
            </div>



        </form>
        <div class="button">
            <button type="submit" [disabled]="myForm.invalid"
                [ngClass]="{'active-button': !myForm.invalid, 'inactive-button': myForm.invalid}">{{appEnum.SAVE_COMMODITY}}</button>
            <button type="submit" class="close" (click)="closePage()">{{appEnum.CLOSE}}</button>
        </div>
    </div>

    <div class="anbarToProduct">
        <app-product-commodity-list [storeroomDialogData]="childData"
            (editStoreroom)="storeroomDialog($event)"></app-product-commodity-list>
    </div>

</div>