.ag-grid-container {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.buttons {
    width: 100%;
    height: 35px;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    padding: 10px;
    direction: rtl;
    font-weight: bold;
    height: 20px;
}

.add-button {
    width: 30px;
    height: 30px;
    background-color: #28a745;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: #218838;
}

::ng-deep {
    .ag-theme-alpine {
        height: 100%;
        width: 100%;
        width: 100%;
        // height: calc(100% - 35px);
        overflow-y: auto;
    }

    .ag-cell-label-container {
        direction: rtl;
    }

    .edit-btn,
    .delete-btn {
        padding: 5px 10px;
        margin: 2px;
        border: none;
        cursor: pointer;
        font-size: 14px;
        border-radius: 4px;
    }

    .edit-btn {
        background-color: #4CAF50;
        color: white;
    }

    .edit-btn:hover {
        background-color: #45a049;
    }

    .delete-btn {
        background-color: #f44336;
        color: white;
    }

    .delete-btn:hover {
        background-color: #e53935;
    }

    .ag-cell {
        box-sizing: border-box;
        padding: 10px;
        font-size: 14px;
        font-family: 'Arial', sans-serif;
        border-radius: 5px;
        border: 1px solid #ddd;
        background-color: #f9f9f9;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

    .ag-cell:hover {
        background-color: #e0e0e0;
        transform: scale(1.02);
    }

    .ag-cell.ag-cell-range-selection {
        background-color: #c6e7ff;
        color: #003366;
        font-weight: bold;
    }

    .ag-header-cell {
        box-sizing: border-box;
        font-size: 16px;
        font-weight: bold;
        color: #333;
        background-color: #f0f0f0;
        border-bottom: 2px solid #ddd;
    }

    .ag-cell-label-container {
        padding: 0;
    }

    .ag-header-cell:hover {
        background-color: #e0e0e0;
    }

    .ag-row,
    .ag-cell {
        border: 1px solid #f1f1f1;
    }

    .ag-row:hover {
        background-color: #f1f1f1;
    }

    .ag-ltr .ag-cell {
        padding: 5px 10px;
    }
}