<nav class="sidebar">
  <ul>
    <li routerLink="/warehouse-list" routerLinkActive="active">
      <lucide-icon [img]="Home" size="20"></lucide-icon>
      {{appEnum.STOREROOMS_LIST}}
    </li>

    <li routerLink="/commodity" routerLinkActive="active">
      <lucide-icon [img]="Package" size="20"></lucide-icon>
      {{appEnum.COMMODITY_LIST}}
    </li>

    <li routerLink="/storeroom-document" routerLinkActive="active">
      <lucide-icon [img]="FileText" size="20"></lucide-icon>
      {{appEnum.STOREROOM_DOCUMENT}}
    </li>

    <li routerLink="/reports" routerLinkActive="active">
      <lucide-icon [img]="BarChart" size="20"></lucide-icon>
      {{appEnum.REPORT}}
    </li>


    <li (click)="toggleSettings()" class="dropdown-toggle">
      <div class="anbarSettingStyle">
        <lucide-icon [img]="showSettings ? ChevronUp : ChevronDown" size="18"></lucide-icon>
        <lucide-icon [img]="Settings" size="20"></lucide-icon>
        {{appEnum.STOREROOM_SETTING}}
      </div>


      <ul class="dropdown" *ngIf="showSettings">
        <li routerLink="/commodity-type" routerLinkActive="active">
          <lucide-icon [img]="Layers" size="18"></lucide-icon>
          {{appEnum.COMMODITY_TYPE}}
        </li>
        <li routerLink="/measurement-unit" routerLinkActive="active">
          <lucide-icon [img]="Ruler" size="18"></lucide-icon>
          {{appEnum.MEASUREMENT_UNIT}}
        </li>
      </ul>
    </li>

  </ul>

  <div class="logout-btn" (click)="logout()">
    <lucide-icon [img]="LogOut" size="20"></lucide-icon>
    {{appEnum.LOG_OUT}}
  </div>
</nav>