@use '@angular/material' as mat;
@import 'ngx-toastr/toastr';
@include mat.core();


html,
body {
  background: transparent;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul,
li,
h1,
h2,
span {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}